
@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>
<br />
<div class="alert alert-@ViewBag.alerta"> - - <b>@ViewBag.res</b> - - </div>
<form action="/Admin/Eliminar" method="post">
    <input type="hidden" id="id" name="id" value="@Model.IdSocio" />

    <table>
        <tr>
            <td style="padding: 10px"> Nombre: </td>
            <td style="padding: 10px"><input value="@Model.NombreSocio" class="form-control" type="text" name="nom" id="nom" required /></td>

        </tr>
        <tr>
            <td style="padding: 10px"> Cedula con guiones: </td>
            <td style="padding: 10px"><input value="@Model.CedulaSocio" class="form-control" type="text" name="ced" id="ced" required /></td>

        </tr>

        <tr>
            <td style="padding: 10px"> Direccion: </td>
            <td style="padding: 10px"><input value="@Model.Direccion" class="form-control" type="text" name="dir" id="dir" required /></td>

        </tr>
        <tr>
            <td style="padding: 10px"> Telefono: </td>
            <td style="padding: 10px"><input value="@Model.Telefono" class="form-control" type="text" name="tel" id="tel" required /></td>

        </tr>
        <tr>
            <td style="padding: 10px"> Tipo de Membresia: </td>
            <td style="padding: 10px"><input value="@Model.TipoMembresia" class="form-control" type="text" name="tipo" id="tipo" required /></td>

        </tr>
        <tr>
            <td style="padding: 10px"> Contacto de  Emergencia: </td>
            <td style="padding: 10px"><input value="@Model.NombreContacto" class="form-control" type="text" name="contactoname" id="contactoname" required /></td>

        </tr>
        <tr>
            <td style="padding: 10px"> Telefono Contacto de Emergencia: </td>
            <td style="padding: 10px"><input value="@Model.TelefonoContacto" class="form-control" type="text" name="telcontacto" id="telcontacto" required /></td>

        </tr>
        <tr>
            <td style="padding: 10px"> Emitido: </td>
            <td style="padding: 10px"><input value="@Model.MembresiaEmitida" class="form-control" type="datetime" name="telcontacto" id="telcontacto" required /></td>

        </tr>
        <tr>
            <td style="padding: 10px"> Pagar Antes de: </td>
            <td style="padding: 10px"><input value="@Model.PagarAntesDe" class="form-control" type="datetime" name="telcontacto" id="telcontacto" required /></td>

        </tr>
        <tr>
            <td style="padding: 10px"></td>
            <td style="padding: 10px">
                <button class="btn btn-success" type="submit" name="btn1" id="btn1"><span class="glyphicon glyphicon-save">Agregar</span></button>
                <button class="btn btn-danger" type="submit" name="btn2" id="btn2"><span class="glyphicon glyphicon-backward">Resetear</span></button>
                <a class="btn btn-danger" href="https://localhost:44373/"><span class="glyphicon glyphicon-backward">Mostrar Inicio</span></a>

            </td>
        </tr>
    </table>
</form>

